body {
    font-family: 'Roboto', sans-serif;
    background-color: #d6ccc2  ; 
    overflow-x: hidden;
    
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.card {
    border: none;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    width: 80%;
}

.card-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    font-size: 1.75rem;
    font-weight: bold;
}