body {
    font-family: 'Roboto', sans-serif;
    background-color: #d6ccc2;
    overflow-x: hidden;
}

.table th, .table td {
    vertical-align: middle;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-visualizar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: inherit; 
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 1.5rem; 
    width: 100%;
    height: 100%;
    text-align: center; 
    line-height: 1; 
    vertical-align: middle; 
}
.btn-visualizar .icon {
    margin-right: 5px; 
}

.btn-visualizar:hover, .btn-visualizar:focus {
    background-color: transparent;
}